// Specific CSS for your home-page
.landing-page1{
  display: flex;
  margin: 5rem 2rem;
  .landing-header{
    display: flex;
    flex-direction: column;
    color: #271D63;
    opacity: 0.9;
    font-weight: bold;
    font-size: 46px;
      div:first-child{
        padding: 3rem 0;
        font-size: 70px;
      }
  }
}

.landing-btn{
  margin-top: 30px;
  .landing-btn1 {
    margin-right: 2rem;
  }
  .landing-btn2
  {
    margin-left: 2rem;
  }
  a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    color: white;
      padding: 1rem 2rem;
      border-radius: 15px;
      background: #4568DC;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    &:hover{
      background: #4568DC;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #4568DC, #B06AB3);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #4568DC, #B06AB3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
  }
}
.landing-page2{
  display: flex;
  justify-content: flex-end;
  margin: 5rem 2rem;
}

.landing-page3{
  display: flex;
  margin: 5rem 2rem;
}

.landing-page2-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  width: 38vw;
  margin-right: 20px;
  h4 {
    font-size: 40px;
    color: #271D63;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 60px;
  }
  p {
    font-size: 18px;
    color: #271d639c;
    opacity: 0.9;
    line-height: 2rem;
  }
}

@media (min-width: 1200px) {
  .landing-page2-content {
    margin-right: 20px;
  }
  .landing-page3-content{
    margin-right: 50px;
  }
}
@media (min-width: 1550px) {
  .landing-page2-content {
    margin-right: 50px;
  }
  .landing-page3-content{
    margin-left: 50px;
  }
}

.landing-page3-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 38vw;
  margin-left: 20px;
  h4 {
    font-size: 40px;
    color: #271D63;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 60px;
  }
  p {
    font-size: 18px;
    color: #271d639c;
    opacity: 0.9;
    line-height: 2rem;
  }
}
