.milestone-container {
  margin-top: 5rem;
  margin-bottom: 10rem;
  text-align: center;
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4.5px );
  -webkit-backdrop-filter: blur( 4.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  min-height: 80vh;
  z-index: 2;
}

.new-milestone {
  margin: 30px auto;
}
