<div class="container guild-list-container">
  <% @guilds.each do |guild| %>
    <%= link_to guild.name, guild_path(guild), class: "dashboard-guild-list", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url( #{guild.photo.attached? ? cl_image_path(guild.photo.key) : 'https://res.cloudinary.com/dx6rtf9wl/image/upload/v1614945426/download_jisl0t.jpg'})"  %>
  <% end %>
</div>