<div class="container">
  <h1>This is the manage page for <%= @guild.name %></h1>
  <% if policy(@guild).edit? %>
    <%= link_to "Edit guild details", edit_guild_path(@guild) %>
  <% end %>
  <p>Things to add: Ability to make another user an admin, ban users, invite users, delete the guild(only if there are no guild members, deny deletion even for owner if there are guild members associated with this guild)</p>
</div>