<div class="footer">
    <ul class="icon-list">
      <li class="list-inline-item"><a href="#"><i class="fab fa-facebook"></a></i></li>
      <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></a></i></li>
      <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin"></a></i></li>
      <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></a></i></li>
    </ul>
    <ul class="us-list">
      <li class="list-inline-item"><a href="#">About us </a></li>
      <li class="list-inline-item"><a href="#">Contact us </a></li>
      <li class="list-inline-item"><a href="#">Help </a></li>
    </ul>
    <div class="guild">The Guild Ltd.</div>
</div>