<div class="landing-page1">
  <img src="https://blush.design/api/download?shareUri=B9D8g4qqP&c=Bottom_0%7E43d26c_Hair_0%7E181658_Skin_0%7Eeac7a8_Top_0%7Effa434&w=800&h=800&fm=png" alt="">
  <div class="landing-header">
    <div>The Guild</div>
    <div>Connect with the ones closest to you</div>
    <div class="landing-btn">
      <%= link_to "Join Now", new_user_registration_path , class: "landing-btn1" %>
      <%= link_to "Explore Your Guilds", guilds_path, class: "landing-btn2" %>
    </div>
  </div>
</div>
<div class="landing-page2" data-aos="fade-left">
  <div class="landing-page2-content">
    <h4>We all lead busy lives</h4>
    <p>Time is precious and sometimes we don't have enough of it. Finding a balance between work, family and friends can be difficult and frustrating, but it doesn't have to be.</p> 
    <p>The Guild can help you with that.</p>
    <p>A new innovative way to stay in touch with your friends and family.</p>
  </div>
  <img src="https://blush.design/api/download?shareUri=b04yXp8fvw&c=Bottom_0%7E393f82-0.1%7Eff4133-0.2%7Eff4133-0.3%7E43d26c_Hair_0%7E4a312c-0.1%7E181658-0.2%7Eb58143-0.3%7E4a312c_Skin_0%7Eeac7a8-0.1%7Eeac7a8-0.2%7E915b3c-0.3%7Ed4a181_Top_0%7Ef2f2f2-0.1%7E393f82-0.2%7E89c5cc-0.3%7E393f82&w=800&h=800&fm=png" alt="">
</div>
<div class="landing-page3" data-aos="fade-right">
  <img src="https://blush.design/api/download?shareUri=clQ56gJng&c=Bottom_0%7E89c5cc-0.1%7Ef2f2f2_Hair_0%7Ee8e1e1-0.1%7E4a312c_Skin_0%7Eb28b67-0.1%7Eeac7a8_Top_0%7E2b44ff-0.1%7Eff4133&w=800&h=800&fm=png" alt="">
  <div class="landing-page3-content">
    <h4>Connect and organise</h4>
    <p>Create a guild. Invite your family and friends. All in a simple, easy to use interface. </p> 
    <p>Stay in touch with the ones you love the most. Set milestones, assign tasks and share achievements, thoughts, pictures and anything else you can think of.</p>
  </div>
</div>
