<div class="container">
  <%= simple_form_for [@guild, @post] do |f| %>
    <h1>Description: </h1>
    <%= f.rich_text_area :content, label: false %>
    <%= f.button :submit, class: "btn btn-flat"%>
    <%= f.input :photo, as: :file, input_html: { multiple: true } %>
  <% end %>
</div>