.banner {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
}

// .background-image {
//   display: flex;
//   height: 300px;
//   justify-content: center;
//   align-items: center;
// }