.guild-list-container {
  margin-top: 10px;
  margin-bottom: 10rem;
  min-height: 100vh;
  width: 100%;
  display: grid;
  padding: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 400px;
}

.main-glass{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 10rem;
}
.main {
  min-height: 80vh;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-content: center;
  background: rgba( 255, 255, 255, 0.35 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  z-index: 2;
  h1{
    margin-top: 50px;
    text-align: center;
    color: #233356;
  }
  .bottom-shadow{
    height: 7px;
    width: 20rem;
    background: linear-gradient(to right, #7AA1D2, #CC95C0);
    opacity: 0.3;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    align-self: center;
  }
}
.guild {
  background: rgba( 255, 255, 255, 0.45 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 7.5px );
  -webkit-backdrop-filter: blur( 7.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  color: #0f295f;
  margin: 2rem;
  height: 300px;
  &:hover {
    transform: scale(1.03);
  }
  a {
    text-decoration: none;
    color: black;
  }
}

.guild-img{
  margin: 10px;
  display: flex;
  justify-content: center;
  img {
    height: 200px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    opacity: 0.9;
  }
}

.guild-info{
  color: #0f295f;
  margin: 10px;
  .guild-info1{
    display: flex;
    justify-content: flex-end;
  }
  .guild-info2 {
    display: flex;
    justify-content: space-between;
  }
}
