.guild-list-container {
  margin-top: 10px;
  margin-bottom: 10rem;
  min-height: 100vh;
  width: 100%;
  display: grid;
  padding: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 400px;
}

.main-glass{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 10rem;
}
.main {
  min-height: 80vh;
  width: 1350px;
  display: flex;
  flex-direction: column;
  align-content: center;
  background: rgba( 255, 255, 255, 0.35 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  z-index: 2;
  h1{
    font-weight: bold;
    opacity: 0.9;
    margin-top: 50px;
    text-align: center;
    color: black;
    opacity: 0.8;
  }
  .bottom-shadow{
    height: 7px;
    width: 20rem;
    background: linear-gradient(to right, white);
    opacity: 0.3;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.5 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    align-self: center;
  }
}
.guild {
  background: rgba( 255, 255, 255, 0.9 );
  backdrop-filter: blur( 7.5px );
  -webkit-backdrop-filter: blur( 7.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  color: #271D63;
  margin: 2rem;
  height: 300px;
  &:hover {
    transform: scale(1.03);
  }
  a {
    text-decoration: none;
    color: black;
  }
}

.guild-img{
  margin: 10px;
  display: flex;
  justify-content: center;
  img {
    height: 200px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    opacity: 0.9;
  }
}

.guild-info{
  color: #233356;
  margin: 10px;
  .guild-info1{
    display: flex;
    justify-content: flex-end;
  }
  .guild-info2 {
    display: flex;
    justify-content: space-between;
  }
}

#empty-guild {
  background: rgba( 255, 255, 255, 0.9 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 7.5px );
  -webkit-backdrop-filter: blur( 7.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  color: #271D63;
  margin: 2rem;
  height: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-family: Ubuntu;
  &:hover {
    transform: scale(1.03);
    text-decoration: none;
  }
  a {
    text-decoration: none;
    color: black;
  }
}

a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}
.btn-exit{
  font-size: 18px;
  border-radius: 10px;
  i{
    color: white;
  }
  i:hover {
    transform: scale(1.3);
  }
}
