.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.footer {
  border-color: rgba(255,255,255, 0.3);
  background-color: white;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 50px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.the-guild {
  // padding-right: 40px;
  // margin-top: 0;
  // margin-bottom: 0;
  color: #89A9CD;
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 1.5px;
  padding-right: 5px;
}

.icon-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 5px;
}

.icon-list i {
  color: #89A9CD;
  font-size: 25px;
  letter-spacing: 4px;
}

.us-list {
  margin-top: 0;
  margin-bottom: 0;
  color: rgba(102, 57, 18, 0.8);
  padding: 0%;
}

.us-list a {
  padding-left: 25px;
  padding-right: 25px;
  color: #89A9CD;
}

