.milestone-card {
  overflow: hidden;
  height: 150px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  max-width: 30vw;
  border-radius: 10px;
  margin: 10px auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.milestone-card h2, h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  max-width: 20vw;
  padding: 4px 4px 0px 4px;
}

.milestone-card h3 {
  font-size: 12px;
}

.milestone-card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.milestone-card .milestone-card-infos {
  padding: 16px;
}


.milestone-progress-bar {
  width: 28vw;
  height: 15px;
  border-radius: 10px;
}

#empty-milestone-card {
  overflow: hidden;
  height: 150px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  max-width: 30vw;
  border-radius: 10px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

