.navbar-lewagon {
  justify-content: space-between;
  background: rgb(159,134,192);
  background: linear-gradient(0deg, rgba(159,134,192,1) 0%, rgba(190,149,196,1) 91%);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

