.post {
  background: rgba( 255, 255, 255, 0.90 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.2 );
  backdrop-filter: blur( 10.0px );
  -webkit-backdrop-filter: blur( 10.0px );
  border-radius: 10px;
  margin-bottom: 2rem;
  .post-content {
    width: 85%;
  }
}
.post-edit {
  margin-bottom: 7px;
  display: flex;
  justify-content: flex-end;
  a {
    color: #494b4f;
    padding-right: 5px;
    &:hover {
      text-decoration: none;
    }
  }
}

#new_post {
  background: rgba( 255, 255, 255, 0.65 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 30px;
  margin-top: 50px;
  text-align: center;
}
