.show-container {
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  margin-right: -15px;
  margin-left: -15px;
}

.content {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  .posts {
    margin-top: 20px;
  }
}
