.show-navbar {
  flex: 1;
  background: rgba( 255, 255, 255, 0.8 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 10px 0 0 10px;
  color: #0f295f;
}
.show-nav-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2rem;
  .show-nav-name {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
  }
.show-nav-tabs {
  margin-bottom: 2rem;
  margin-left: 3rem;
  align-items: flex-start;
}

.show-nav-item {
  width: 80%;
  display: flex;
  margin: 7px 0;
  justify-content: flex-start;
  padding: 1rem;
    &:hover{
      border-radius: 15px;
      background: #CC95C0;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #7AA1D2, #CC95C0);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #7AA1D2, #CC95C0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      a{
        color: white;
      }
    }
  i {
    padding-right: 1rem;
  }
  a{
    text-decoration: none;
    color: #0f295f;
    font-size: 20px;
    }
}


.show-nav-img{
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  img {
    height: 100%;
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0.9;
  }
}

.show-nav-description {
  max-width: fit-content;
}
