.card-user {
  overflow: hidden;
  height: 80px;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.9));
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  max-width: 30vw;
  border-radius: 10px;
  margin: 20px auto 10px;
  padding-left: 10px;
}

.card-user img {
  height: 60px;
  width: 80px;
  object-fit: cover;
}

.card-user h2, h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  max-width: 20vw;
}

.card-user h3 {
  font-size: 12px;
}

.card-user p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-user .card-user-infos {
  padding: 16px;
}

.card-user-infos {
  width: 100%;
  padding-left: 10px;
}

.card-user-infos h2 {
  font-size: 1rem;
}

.invite-btn {
  margin-right: 10px;
  background: linear-gradient(to right, #4568DC, #B06AB3);
  color: white;
  border-radius: 15px;
  transition: 0.3s;
  padding: 5px 10px;
  border: none;
  &:hover {
    background: linear-gradient(to right, #B06AB3, #4568DC);
    color: white;
    text-decoration: none;
  }
}
